<div class="brand-list-container">

  <button mat-button class="brand-item" [class.active]="!selectedBrandId || selectedBrandId === 0"
    (click)="selectAllBrands()">

    <div class="item-content">
      <mat-icon class="brand-icon">apps</mat-icon>
      <span class="brand-name">All Brands</span>
    </div>

    @if(!selectedBrandId || selectedBrandId === 0) {
    <mat-icon class="active-check">check</mat-icon>
    }
  </button>

  @for (brand of brands; track brand.id) {
  <button mat-button class="brand-item" [class.active]="isBrandSelected(brand.id)" (click)="selectBrand(brand.id)">

    <div class="item-content">
      <mat-icon class="brand-icon">verified</mat-icon>
      <span class="brand-name">{{ brand.name || 'Brand ' + brand.id }}</span>
    </div>

    @if(isBrandSelected(brand.id)) {
    <mat-icon class="active-check">check</mat-icon>
    }
  </button>
  }

  @if (brands.length === 0) {
  <div class="skeleton-list">
    @for (item of [1,2,3,4,5]; track $index) {
    <div class="skeleton-row"></div>
    }
  </div>
  }
</div>