<div class="search-filter">

  <div class="filter-section first-section">
    <mat-form-field appearance="outline" class="clean-field">
      <mat-label>Search by name</mat-label>
      <input matInput [formControl]="searchControl" placeholder="e.g. Handmade Soap">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <div class="filter-section">
    <h4>Price Range</h4>

    <div class="price-ranges">
      @for (range of priceRanges; track $index) {
      <button mat-stroked-button class="price-range-btn" [class.active]="isPriceRangeSelected(range.min, range.max)"
        (click)="selectPriceRange(range.min, range.max)">

        @if(range.min === 1 && range.max === 50) {
        <span class="price-label">Under $50</span>
        }
        @else if (range.min === 1000) {
        <span class="price-label">$1,000+</span>
        }
        @else {
        <span class="price-label">${{ range.min }} - ${{ range.max }}</span>
        }
      </button>
      }
    </div>

    <div class="custom-price">
      <p class="custom-price-label">Custom Range</p>
      <div class="price-inputs">
        <mat-form-field appearance="outline" class="clean-field small-field">
          <mat-label>Min</mat-label>
          <span matTextPrefix>$&nbsp;</span>
          <input matInput type="number" [formControl]="minPriceControl">
        </mat-form-field>

        <span class="price-sep">-</span>

        <mat-form-field appearance="outline" class="clean-field small-field">
          <mat-label>Max</mat-label>
          <span matTextPrefix>$&nbsp;</span>
          <input matInput type="number" [formControl]="maxPriceControl">
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="filter-section">
    <h4>Rating</h4>
    <div class="rating-list">
      @for (rating of ratingOptions; track rating) {
      <button mat-button class="rating-row-btn" [class.active]="isRatingSelected(rating)"
        (click)="selectRating(rating)">

        <div class="rating-content">
          <div class="stars">
            @for (star of [1,2,3,4,5]; track star) {
            <mat-icon class="star" [style.color]="rating >= star - 0.5 ? '#2C2C2C' : '#D4D4D8'">
              {{ rating >= star ? 'star' : (rating >= star - 0.5 ? 'star_half' : 'star_border') }}
            </mat-icon>
            }
          </div>
          <span class="rating-text">& Up</span>
        </div>

      </button>
      }
    </div>
  </div>
</div>