<div class="category-list-container">
  
  <button mat-button 
          class="category-item" 
          [class.active]="!selectedCategoryId || selectedCategoryId === 0"
          (click)="selectAllCategories()">
    
    <div class="item-content">
      <mat-icon class="cat-icon">apps</mat-icon>
      <span class="cat-name">All Categories</span>
    </div>

    @if(!selectedCategoryId || selectedCategoryId === 0) {
      <mat-icon class="active-check">check</mat-icon>
    }
  </button>

  @for (category of categories; track category.id) {
    <button mat-button 
            class="category-item" 
            [class.active]="isCategorySelected(category.id)"
            (click)="selectCategory(category.id)">
      
      <div class="item-content">
        <mat-icon class="cat-icon">label_important</mat-icon>
        <span class="cat-name">{{ category.name }}</span>
      </div>

      @if(isCategorySelected(category.id)) {
        <mat-icon class="active-check">check</mat-icon>
      }
    </button>
  }

</div>